<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
    <%- include('../includes/header.ejs') %>

    <main class="main">
        <section class="resetInfo-section">
            <h1 class="resetInfo-h1">Your email has been sended.</h1>
            <p class="resetInfo-p">Your email has been sended to <i><%= email %></i>. Please check that email adress.</p>
        </section>
    </main>
</body>
</html>