.main{
    margin-top: 50px;
}
.login-section{
    display: flex;
    justify-content: center;
}
.login-form{
    border: 2px solid lightcoral;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 30px lightcoral;
}
.register-form{
    border: 2px solid lightcoral;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 30px lightcoral;
}
.login-p{
    width: 150px;
}
.input-container{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.login-input{
    height: 20px;
    width: 350px;
}
.login-submit-button{
    width: 500px;
    height: 50px;
    border: 2px solid lightcoral;
    border-radius: 5px;
    background-color: white;
    font-size: 22px;
    font-weight: 400;
    color: lightcoral;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.login-submit-button:hover{
    background-color: lightcoral;
    color: white;
    font-weight: 500;
}